In [12]:
import pandas
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

In [4]:
nom = Nominatim()

In [7]:
df_online_json = pandas.read_json("http://pythonhow.com/supermarkets.json")
df_online_json

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [27]:
df_online_json["Address"]=df_online_json["Address"]+", "+df_online_json["City"]+", "+df_online_json["State"]+", "+df_online_json["Country"]

In [29]:
df_online_json

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114

In [35]:
df_online_json["Cordinates"]=df_online_json["Address"].apply(nom.geocode,timeout=10)
df_online_json

,Address,City,Country,Employees,ID,Name,State,Cordinates
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(21st Street, Mission District, SF, California..."
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(Hill Street, Liberty Street Historic District..."
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(Alvarado Street, Noe Valley, SF, California, ..."

In [39]:
df_online_json["Latitude"]=df_online_json["Cordinates"].apply(lambda x : x.latitude if x != None else None)
df_online_json

,Address,City,Country,Employees,ID,Name,State,Cordinates,Latitude
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(21st Street, Mission District, SF, California...",37.757051
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None,NaN
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(Hill Street, Liberty Street Historic District...",37.756102
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(Alvarado Street, Noe Valley, SF, California, ...",37.753666

In [40]:
df_online_json["Longitude"]=df_online_json["Cordinates"].apply(lambda x : x.longitude if x != None else None)
df_online_json

,Address,City,Country,Employees,ID,Name,State,Cordinates,Latitude,Longitude
0,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,USA,8,1,Madeira,CA 94114,"(21st Street, Mission District, SF, California...",37.757051,-122.418804
1,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,USA,15,2,Bready Shop,CA 94119,None,NaN,NaN
2,"332 Hill St, San Francisco, California 94114, USA",San Francisco,USA,25,3,Super River,California 94114,"(Hill Street, Liberty Street Historic District...",37.756102,-122.421041
3,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St, San Francisco, California, USA",San Francisco,USA,12,5,Sanchez,California,"(Sanchez Street, Noe Valley, SF, California, 9...",37.748362,-122.429346
5,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,USA,20,6,Richvalley,CA 94114,"(Alvarado Street, Noe Valley, SF, California, ...",37.753666,-122.434440